/*================ Site Header ================*/
.site-logo {
  display: block;
img {
    display: block;
    width: 100%;
    margin:0;
  }


}



.site-nav--mobile .cart-link {
    padding: 0 7px 7px;
}



.site-nav__link {
	font-size: .85em;
    text-transform: uppercase;
    padding: 11px;

      &:hover {
    color:pink;
    }

    &:active {
    color:white;
    }

    
    
    .icon-arrow-down {
    vertical-align:sub;
    }
	}

.site-header {
	padding:0;
	background:black;
    position: fixed;
    clear: both;
    top: 0;
    width: 100%;
    z-index: 100;

    svg g {
    fill:white;
    }

}

#subNav {
    position: absolute;
    top: 50px;
        margin:  0;
    left: 0;
    padding: 20px 0;
    display: none;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    overflow-x: hidden;
    z-index: 10;
    text-align:center;

    a {

    text-transform:uppercase;
    font-size: .8em;
        &:hover {
    color:pink;
    }
    }
}

.dropdown {
	margin:0;
	a {
	color:black;

	}


}

.site-nav__item {
	position: inherit !important;
	li {
	display:inline-block;
	    margin: 0 2em;
	}
}



.modalContent {

    background: pink !important;
}


.mc-layout__modalContent {

    box-shadow: 0 !important;
    display: block;
    background: pink !important;
    border-radius: 6px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.modalContent__image {
        width: 88% !important;

    margin: 0 7% !important;
}

input .button {
    border: 1px solid black !important;
}

.cart-link__bubble--visible {
    background-color:red;
        width: 15px;
      height: 15px;
      padding-top: 1px;
          margin: -5px -3px;
      h3 {
          font-size: 10px;
    text-align: center;
      }
}

.cart__product-qty {
    color:white;
}

h1.cart {
    text-transform:uppercase;
}

.cart__row {margin-bottom:0;}

.checkout {
    background:pink;
        color: black;
    padding: 25px;

    h3, a, input, button {
    color:black !important;
    }

    input, button, textarea {
    background: pink;
    border: 1px solid black !important;
    }
}

.mobile-nav__item:after {
    border-bottom: 1px solid #000;
}

.drawer__header {
    
    border-bottom:1px solid black;
}

.mobile-nav__item a, .mobile-nav__toggle button {
    font-size: 1em;
    text-transform:uppercase;
}

.cart-link__bubble--visible {
 @include media-query($small) {
    
    top: 7px;
    right: 0px;
  }

}

#search-menu {
  position: fixed;
  width: 100%;
  height: 20em;
  top: -20em;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 9999;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.01)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#1a000000',GradientType=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}

#search-menu.toggled {
  top: 0;
  opacity: 1;
  visibility: visible;
}

#search-menu .wrapper {
  position: relative;
  margin: 3em auto 0 auto;
  padding: 0 1em;
}

#search-menu .wrapper input {
  width: 90%;
      padding: 0 0 0.725em 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1.8em;
    color: #fff;
}

#search-menu .wrapper input:focus {
  outline: none;
}

#search-menu .wrapper button {
  position: absolute;
  display: block;
  width: 10%;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}

#search-menu .wrapper button:hover {
  color: pink;
}

#search-menu .wrapper button:focus {
  outline: none;
}

#search-icon {
  padding: 0.35em 0.25em 0.0em 0.15em;
      margin-left: 0.65em;
  cursor: pointer;
  color: #fff;
  text-align: center;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}

.search-result { font-size: 1.3em;}

#search-icon:hover {
  color: pink;
}
