 
 <footer>
 
 <div class="wrapper">
    <div class="grid-full">
    <div class="upper">
    <div class="grid__item large--one-third medium-down--one-half footer-logo">
<?xml version="1.0" encoding="UTF-8"?>
<svg width="91px" height="31px" viewBox="0 0 91 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch -->
    <title>LOGO-white</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Collection-Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop" transform="translate(-78.000000, -1346.000000)" fill="#FFFFFF">
            <g id="footer" transform="translate(-25.000000, 1326.000000)">
                <g id="LOGO-white" transform="translate(101.000000, 17.000000)">
                    <g id="Asset-1" transform="translate(2.694444, 3.115789)">
                        <path d="M14.9541667,6.29778947 C15.9318651,6.13680702 16.9108466,5.98361404 17.8911111,5.83821053 C18.6840476,5.72136842 19.1421032,5.74084211 19.2999206,5.89663158 C19.4577381,6.05242105 19.4076984,6.32505263 19.1805952,6.71063158 C18.8694731,7.21812327 18.5315356,7.70827323 18.168254,8.17894737 C17.4928701,9.03891483 16.8841668,9.95039961 16.3475794,10.9052632 C16.0477936,11.4523835 15.7978471,12.0259779 15.6008333,12.6189474 C15.1928175,13.8769474 15.0734921,14.7922105 14.8925794,15.3647368 C14.7604617,15.8914231 14.448155,16.3536951 14.0111111,16.6694737 C13.4610188,16.9942901 12.8249195,17.138527 12.1904365,17.0823158 L11.2165873,17.0589474 C11.9505026,19.5567719 14.1689286,22.062386 17.8718651,24.5757895 C16.8992989,24.430386 15.9280159,24.2784912 14.9580159,24.1201053 C4.75505291,18.1793333 4.75376984,12.2385614 14.9541667,6.29778947 Z M13.9456746,9.04747368 C12.4059921,10.6365263 11.4590873,12.2255789 11.1049603,13.8146316 L11.3705556,13.8146316 C11.6659585,13.8237867 11.9493717,13.696176 12.1403968,13.468 C12.4179221,13.0272406 12.6525392,12.5602822 12.8409524,12.0736842 C13.0972647,11.5288327 13.3999264,11.0075702 13.7455159,10.5157895 C14.0583589,10.1326887 14.3245788,9.712944 14.5384524,9.26557895 C14.5730952,9.08252632 14.3806349,9.01242105 13.9495238,9.04747368 L13.9456746,9.04747368 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M24.9890476,4.91905263 C19.530873,10.4080351 18.4389815,15.8957193 21.713373,21.3821053 L23.7726984,21.4950526 C24.6016806,23.008347 25.6056832,24.4164565 26.7635317,25.6896842 C25.200754,25.5338947 23.6379762,25.3573333 22.0751984,25.16 C14.2690079,18.5311579 14.2690079,11.9010175 22.0751984,5.26957895 C23.0477646,5.13196491 24.0190476,5.01512281 24.9890476,4.91905263 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M27.4679365,4.67368421 C29.0871693,4.51789474 30.7076852,4.38807018 32.3294841,4.28421053 C31.4916918,5.67200675 30.7903496,7.1395486 30.2355159,8.66578947 L27.9760317,8.75536842 C27.4263687,10.0679897 27.0385301,11.4440974 26.8212698,12.8526316 L29.080754,12.8214737 C28.8960363,14.2016148 28.8702022,15.598781 29.0037698,16.9849474 L26.7327381,16.9615789 C26.9226229,18.5983311 27.345271,20.1987293 27.9875794,21.7131579 L30.4741667,21.8105263 C31.0175997,23.3292684 31.7046619,24.791383 32.5257937,26.1765263 C30.8398413,26.0596842 29.155172,25.9194737 27.4717857,25.7558947 C21.4747222,18.7245965 21.4734392,11.697193 27.4679365,4.67368421 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M38.4035317,3.93368421 C36.6444444,11.4310526 37.7607143,18.9712632 40.0702381,26.5426316 C39.0771429,26.5140702 38.0840476,26.4777193 37.0909524,26.4335789 C36.5526837,25.1141152 36.0862314,23.7658158 35.6936905,22.3947368 L34.4965873,22.3635789 C34.8004746,23.7280695 35.2084292,25.066675 35.7167857,26.3673684 C34.7108598,26.3154386 33.7062169,26.2557193 32.7028571,26.1882105 C28.9652778,18.9050526 29.9622222,11.5517895 34.1886508,4.14010526 C35.592328,4.05442105 36.9972884,3.98561404 38.4035317,3.93368421 Z M34.9046032,18.4182105 C34.3348308,15.3094149 34.3204902,12.1224427 34.8622619,9.00852632 C33.5689286,13.2927368 33.5304365,16.4085263 33.6690079,18.4026316 L34.9046032,18.4182105 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M47.0526984,10.7105263 L43.7693254,10.7105263 C43.7693254,10.1470877 43.7834392,9.58364912 43.8116667,9.02021053 C43.8534113,8.51687789 43.8301197,8.01018628 43.742381,7.51294737 C43.710191,7.32402309 43.5469105,7.18689717 43.3574603,7.18968421 C43.1611508,7.18968421 43.0033333,7.33768421 42.8801587,7.62978947 C42.7324409,8.05565648 42.6531675,8.50273504 42.6453571,8.954 C42.5914736,9.5285105 42.6265384,10.1080105 42.7492857,10.6715789 C42.9550405,11.2158747 43.2941165,11.6983405 43.7346825,12.0736842 C45.3167063,13.6315789 46.3675397,14.9246316 46.7794048,15.9294737 C47.1912698,16.9343158 47.3952778,18.5545263 47.3105952,20.7862105 C47.2997357,21.9988772 47.1380818,23.2053399 46.8294444,24.3771579 C46.6005567,25.1205562 46.1855132,25.7914074 45.6246429,26.3245263 C45.1401451,26.8244544 44.4767147,27.1053238 43.7847222,27.1034737 C42.9950545,27.0777362 42.2453737,26.7458713 41.690754,26.1765263 C41.0121654,25.5401165 40.4946719,24.7480157 40.1818651,23.8669474 C39.7641242,22.5906635 39.5055102,21.2665975 39.4120238,19.9254737 C39.3683995,19.4295439 39.3311905,18.9349123 39.3003968,18.4415789 L42.6376587,18.4415789 C42.6633201,19.3659298 42.699246,20.2902807 42.7454365,21.2146316 C42.7451719,21.7715271 42.8202878,22.3258355 42.9686905,22.8621053 C43.0312745,23.0790331 43.2265203,23.2291751 43.4498413,23.2321053 C43.669246,23.2321053 43.8347619,23.0802105 43.9194444,22.7686316 C44.0309338,22.3182995 44.0724891,21.8531562 44.042619,21.3898947 C44.0079762,20.0462105 43.8886508,19.1698947 43.6576984,18.7570526 C43.1526462,18.0087847 42.5735578,17.3145329 41.9294048,16.6850526 C41.2738524,16.0240167 40.667852,15.3145117 40.1164286,14.5624211 C39.7769801,14.0041367 39.545755,13.3855302 39.435119,12.7396842 C39.2681707,11.759018 39.2487047,10.7584492 39.377381,9.77189474 C39.4796386,8.45996371 39.7835299,7.17220216 40.2780952,5.95505263 C40.6027897,5.21839623 41.0884314,4.5658781 41.6984524,4.04663158 C42.2120779,3.59923688 42.8645711,3.3483842 43.5422222,3.33778947 C44.238839,3.32427288 44.9130341,3.587076 45.4206349,4.07 C45.9707503,4.57794327 46.3705436,5.23057252 46.5753968,5.95505263 C46.8680661,7.21766076 47.0165903,8.51007779 47.0180556,9.80694737 C47.0334524,10.1081404 47.045,10.4093333 47.0526984,10.7105263 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M54.5278571,4.03494737 C56.6064286,9.01242105 57.2954365,13.991193 56.594881,18.9712632 C56.4354044,20.1870612 56.1555724,21.3835647 55.7596032,22.5427368 C55.4653101,23.3061259 55.0676048,24.0244336 54.5778968,24.6770526 C54.1202008,25.3337063 53.5552634,25.9066432 52.9073413,26.3712632 C52.399701,26.7431106 51.7970959,26.9594238 51.1713492,26.9944211 C50.5719481,27.034484 49.9853063,26.8067311 49.5662302,26.3712632 C49.1075949,25.8874504 48.7835716,25.2895162 48.6270238,24.6381053 C48.4274173,23.8956557 48.328994,23.129094 48.3344841,22.3596842 C48.3344841,21.5573684 48.4307143,19.8709474 48.4884524,17.2965263 C48.5822547,12.7953886 48.3726283,8.29301699 47.8610317,3.82073684 C48.8335979,3.8337193 49.804881,3.85449123 50.774881,3.88305263 C52.1529501,9.43017482 52.5053033,15.1873285 51.8141667,20.8641053 C51.7164606,21.4908183 51.6560475,22.122904 51.633254,22.7569474 C51.633254,23.0295789 51.744881,23.1658947 51.9257937,23.1464211 C52.1067063,23.1269474 52.3107143,22.9867368 52.4146429,22.6829474 C52.6264979,21.9845001 52.7721419,21.2672278 52.8496032,20.5408421 C53.5902673,14.9654577 53.1680461,9.29490166 51.6101587,3.89473684 C52.5827249,3.93887719 53.555291,3.98561404 54.5278571,4.03494737 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M55.6556746,4.09726316 L57.7188492,4.22578947 C58.7405991,4.25833523 59.7532325,4.43128754 60.7289286,4.73989474 C61.5898924,5.13503308 62.3675049,5.69439587 63.0192063,6.38736842 C64.1385246,7.51810887 65.0014381,8.88161208 65.5481349,10.3833684 C66.1447619,12.0386316 66.1370635,13.1486316 65.9330556,13.7172632 C65.7290476,14.2858947 65.1978571,14.6247368 64.393373,14.7415789 C64.9950684,14.9127133 65.5123302,15.3042073 65.8445238,15.8398947 C66.051914,16.2261786 66.1703404,16.6548935 66.1909524,17.094 C66.1287887,18.1800139 65.8867706,19.2477472 65.475,20.2526316 C64.6704239,22.2868699 63.5532069,24.1796864 62.1646825,25.8610526 C61.2614021,25.9441404 60.363254,26.0207368 59.4702381,26.0908421 C60.9598621,23.9040952 62.0365344,21.4572195 62.6458333,18.8738947 C62.899881,17.7054737 62.8921825,16.9927368 62.8036508,16.7162105 C62.715119,16.4396842 62.4187302,16.3033684 61.9067857,16.3033684 C61.7091931,19.5879298 60.6019048,22.8724912 58.5849206,26.1570526 C57.6123545,26.2271579 56.6410714,26.2894737 55.6710714,26.344 C59.150754,18.9206316 59.1456217,11.5050526 55.6556746,4.09726316 Z M60.474881,8.02315789 C61.1116061,9.58033876 61.5475827,11.2139727 61.7720635,12.8837895 C62.0671553,12.927368 62.3661298,12.8360439 62.5880952,12.6345263 C62.7228175,12.4631579 62.7266667,11.8984211 62.4803175,10.9403158 C62.377672,10.5430526 62.2596296,10.1444912 62.1261905,9.74463158 C61.9891978,9.24102812 61.7418603,8.77511265 61.4025397,8.38147368 C61.1469186,8.15145604 60.8169625,8.02400779 60.474881,8.02315789 L60.474881,8.02315789 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M63.2925,4.67368421 C64.9117328,4.83207018 66.5322487,5.01122807 68.1540476,5.21115789 C69.5458216,6.38185859 70.7872262,7.72430328 71.8492857,9.20715789 L69.5898016,9.06694737 C70.3479754,10.2566224 70.9035542,11.5665516 71.2334127,12.9422105 L73.4928968,12.9889474 C73.8124892,14.23217 73.8571748,15.5314105 73.6237698,16.7941053 L71.3527381,16.8291579 C71.0655016,18.4308082 70.466225,19.9586366 69.5898016,21.3236842 L72.0763889,21.1717895 C71.0039122,22.6534668 69.7521482,23.99331 68.3503571,25.16 C66.6644048,25.3703158 64.9797354,25.5585614 63.2963492,25.7247368 C69.3421693,18.7142105 69.3408862,11.697193 63.2925,4.67368421 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M81.7725397,11.6842105 L78.4891667,11.5167368 C78.202923,11.0297569 77.881268,10.5650005 77.5268651,10.1263158 C77.1670563,9.66134168 76.7535326,9.24161906 76.295119,8.87610526 C76.1051603,8.71854967 75.8786083,8.61264729 75.6369048,8.56842105 C75.436746,8.56842105 75.4136508,8.658 75.5406746,8.89168421 C75.7735464,9.27300704 76.0307039,9.63858701 76.3105159,9.98610526 C76.7955159,10.6209474 77.1419444,11.1038947 77.4460317,11.4310526 C77.9178105,11.8931042 78.4439705,12.2946811 79.0126587,12.6267368 C81.1412698,13.9665263 82.2421429,14.9830526 82.580873,15.7736842 C82.9196032,16.5643158 82.8695635,17.8223158 81.4261111,19.5671579 C80.4382732,20.6873536 79.2853067,21.6463865 78.0080159,22.4103158 C76.922004,23.058154 75.789765,23.6231588 74.6207143,24.1006316 C73.7099452,24.5123053 72.7573637,24.8218341 71.78,25.0236842 C71.0101587,25.1444211 70.7445635,24.9925263 70.829246,24.5524211 C71.0421304,23.8787157 71.3819895,23.2531202 71.8300397,22.7102105 C72.6405917,21.6363735 73.3640321,20.4979999 73.9932937,19.3062105 C74.2042041,18.8882076 74.3868199,18.4561964 74.539881,18.0131579 L77.8771429,17.908 C77.5392803,18.7336269 77.0967618,19.5113029 76.5607143,20.2214737 C76.0295238,20.9342105 75.6369048,21.3898947 75.5329762,21.5846316 C75.4290476,21.7793684 75.4752381,21.8689474 75.6946429,21.8494737 C76.0165477,21.7823192 76.316847,21.6350785 76.5684127,21.4210526 C77.0096977,21.0899445 77.4080166,20.7039252 77.7539683,20.2721053 C78.6354365,19.1698947 78.8509921,18.4571579 78.7894048,18.1261053 C78.7278175,17.7950526 78.4044841,17.2458947 77.6346429,16.4474737 C76.8648016,15.6490526 76.237381,15.0297895 75.9178968,14.6481053 C75.5346059,14.1521933 75.1994578,13.6200476 74.9171032,13.0590526 C74.5321825,12.3813684 74.1472619,11.5011579 73.5390873,10.4651579 C72.6537698,8.95010526 71.7530556,7.85178947 71.295,7.178 C70.8369444,6.50421053 70.5598016,6.00957895 70.5598016,5.68242105 C70.5598016,5.35526316 70.8484921,5.254 71.5259524,5.36305263 C72.5068849,5.55627401 73.4635242,5.85933144 74.3782143,6.26663158 C75.5160579,6.72802387 76.6164454,7.27886559 77.6692857,7.91410526 C79.0168913,8.7323458 80.2255943,9.76466318 81.2490476,10.9714737 C81.4389418,11.2051579 81.6134392,11.4427368 81.7725397,11.6842105 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M45.0357143,30.4217895 C33.3110317,30.4217895 22.2599603,28.9885263 13.9187302,26.3829474 C2.41345238,22.792 0,18.3247368 0,15.2128421 C0,12.1009474 2.41345238,7.62978947 13.914881,4.03884211 C22.2561111,1.43326316 33.3071825,0 45.0357143,0 C56.764246,0 67.8153175,1.43326316 76.1526984,4.03884211 C87.654127,7.62978947 90.0714286,12.0970526 90.0714286,15.2128421 C90.0714286,18.3286316 87.6579762,22.792 76.1565476,26.3829474 C67.8114683,28.9885263 56.7603968,30.4217895 45.0357143,30.4217895 Z M45.0357143,1.86557895 C33.7075,1.86557895 23.0952381,3.23652632 15.1235317,5.72136842 C8.00634921,7.94526316 3.7568254,12.4943158 3.7568254,15.2128421 C3.7568254,17.9313684 7.99095238,22.4804211 15.1196825,24.7004211 C23.0952381,27.1852632 33.7075,28.5562105 45.0357143,28.5562105 C56.3639286,28.5562105 66.9761905,27.1852632 74.9478968,24.7004211 C82.0650794,22.4765263 86.310754,17.9274737 86.310754,15.2128421 C86.310754,12.4982105 82.076627,7.94526316 74.9478968,5.72526316 C66.9761905,3.23652632 56.3600794,1.86557895 45.0357143,1.86557895 Z" id="Shape" fill-rule="nonzero"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
	<h3>A Mood. An Emotion. An Altered State of Being</h3>
    </div>
     <div class=" large--two-thirds grid__item sign-up ">
  	
 
  {% comment %}
    		<ul>
    		<li><a href="/collections/all">Shop</a></li>
    		<li><a href="/collections/new-arrivals">New Arrivals</a></li>
    		<li><a href="/pages/audio">Audio</a></li>

    	</ul>	

          {% endcomment %}

    	<div class="newsletter">
    		{% include 'newsletter' %}
	<h3 class="signup-copy">Sign your life away. 
Just kidding, stay connected.</h3>

</div>

    </div>
    </div>
    <div class="lower">
    <div class="grid__item large--one-third small-down--one-half">
    	<ul>
    		<li><a href="/search">Search</a></li>
    		<li><a href="/pages/contact">Contact</a></li>
    		<li><a href="/pages/policy">Policy</a></li>
    	</ul>	
    </div>

    <div class="grid__item large--one-third large--text-center">
            <h3 class="copyright">© {{ 'now' | date: "%Y" }} Pleasures Now LLC </h3>
</div>

    <div class="grid__item large--one-third large--text-right">
	<div class="social">
    		<h3> Follow Us:</h3>
    		<li><a href="https://www.instagram.com/pleasures/" target="_blank">{% include 'icon-instagram' %}</a></li>
    		<li><a href="https://www.facebook.com/Pleasures-1126494497428970/" target="_blank">{% include 'icon-facebook' %}</a></li>
    		<li><a href="https://twitter.com/pleasures_now" target="_blank">{% include 'icon-twitter' %}</a></li>
          
    	


    </div>
    </div>
    </div>
    </div>
  </footer>